extends layout.pug

block head
   != js("recipe-bootstrap")

block content
   .header
      .logo
      h1.title= recipe.name
      search-bar(params="callback: onSearch")   
      if recipe.source_url && recipe.source_url.length && recipe.source && recipe.source.length
         .subtitle
            a(href=recipe.source_url)= recipe.source

   .container
      .sidebar
         h2.categories__heading Categories
         ul.categories__list(data-bind="foreach: permanentCategories")
            li 
               a(data-bind="text: $data, click: $parent.onTagClicked")

         h2.categories__heading Top Tags
         ul.categories__list(data-bind="foreach: topCategories")
            li 
               a(data-bind="text: category, click: $parent.onSortedTagClicked")

      .content
         .recipe-container
            .recipe
               .recipe-metadata
                  .recipe-metadata__photo
                     img.recipe-photo(src=recipe.local_photo_url)

                  .recipe-metadata__time-info-container
                     if recipe.prep_time && recipe.prep_time.length
                        .recipe-metadata__info
                           .recipe-metadata__info-value= recipe.prep_time
                           .recipe-metadata__info-title Prep Time
                     if recipe.cook_time && recipe.cook_time.length
                        .recipe-metadata__info
                           .recipe-metadata__info-value= recipe.cook_time
                           .recipe-metadata__info-title Cook Time
                     if recipe.total_time && recipe.total_time.length
                        .recipe-metadata__info
                           .recipe-metadata__info-value= recipe.total_time
                           .recipe-metadata__info-title Total Time
                     if recipe.servings && recipe.servings.length
                        .recipe-metadata__info
                           .recipe-metadata__info-value= recipe.servings
                           .recipe-metadata__info-title Servings

                  if recipe.categories && recipe.categories.length
                     .recipe-metadata__tags
                        span.recipe-metadata__tags-title Tags:&nbsp;
                        each category, index in recipe.categories
                           a.recipe-metadata__tag(href="/index.html?tag=" + category.replace(/\s/g, '+'))= category
                           if index < recipe.categories.length - 1
                              span ,&nbsp;

               .recipe-content
                  h2 Ingredients
                  ul
                     each ingredient in recipe.ingredients.split('\n')
                        li= ingredient

                  h2 Directions
                  each paragraph in recipe.directions.split('\n')
                     if paragraph.length
                        p= paragraph

                  if recipe.notes && recipe.notes.length
                     h2 Notes
                     each paragraph in recipe.notes.split('\n')
                        if paragraph.length
                           p= paragraph

            .recent-recipes-sidebar(data-bind="foreach: recentRecipeSnippets")
               a.recent-recipes-sidebar__recipe(data-bind="attr:{href: $data.local_url}")
                  img.recent-recipes-sidebar__recipe-photo(data-bind="attr:{src: $data.local_photo_url}")
                  .recent-recipes-sidebar__recipe-name(data-bind="text: name")
