extends layout.pug

block head
   != js("recipe-bootstrap")

block content
   .header
      h1.title= name
      search-bar(params="callback: onSearch")   
      if source_url && source_url.length && source && source.length
         .subtitle
            a(href=source_url)= source

   .container
      .sidebar
         h2.categories__heading Categories
         ul.categories__list(data-bind="foreach: permanentCategories")
            li 
               a(data-bind="text: $data, click: $parent.onTagClicked")

         h2.categories__heading Top Tags
         ul.categories__list(data-bind="foreach: topCategories")
            li 
               a(data-bind="text: category, click: $parent.onTagClicked")

      .content
         .recipe-container
            .recipe
               .recipe-metadata
                  .recipe-metadata__photo
                     img.recipe-photo(src=local_photo_url)

                  .recipe-metadata__time-info-container
                     if prep_time && prep_time.length
                        .recipe-metadata__info
                           .recipe-metadata__info-value= prep_time
                           .recipe-metadata__info-title Prep Time
                     if cook_time && cook_time.length
                        .recipe-metadata__info
                           .recipe-metadata__info-value= cook_time
                           .recipe-metadata__info-title Cook Time
                     if total_time && total_time.length
                        .recipe-metadata__info
                           .recipe-metadata__info-value= total_time
                           .recipe-metadata__info-title Total Time
                     if servings && servings.length
                        .recipe-metadata__info
                           .recipe-metadata__info-value= servings
                           .recipe-metadata__info-title Servings

                  if categories && categories.length
                     .recipe-metadata__tags
                        span.recipe-metadata__tags-title Tags:&nbsp;
                        each category, index in categories
                           a.recipe-metadata__tag(href="/index.html?tag=" + category)= category
                           if index < categories.length - 1
                              span ,&nbsp;

               .recipe-content
                  h2 Ingredients
                  ul
                     each ingredient in ingredients.split('\n')
                        li= ingredient

                  h2 Directions
                  each paragraph in directions.split('\n')
                     if paragraph.length
                        p= paragraph

                  if notes && notes.length
                     h2 Notes
                     each paragraph in notes.split('\n')
                        if paragraph.length
                           p= paragraph

            .recent-recipes-sidebar(data-bind="foreach: recentRecipeSnippets")
               a.recent-recipes-sidebar__recipe(data-bind="attr:{href: $data.local_url}")
                  img.recent-recipes-sidebar__recipe-photo(data-bind="attr:{src: $data.local_photo_url}")
                  .recent-recipes-sidebar__recipe-name(data-bind="text: name")
